<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group mb-3 top">
                <input type="text" class="form-control" placeholder="Name of the job" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="todo.name">
                <div class=" input-group-append ">
                    <button class="btn btn-outline-secondary " type="button " id="button-addon2" (click)="addTodo()">Add New</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row ">
        <div class="col-lg-6 ">
            <table class="table">

                <tbody>
                    <tr *ngFor="let item of todoList; let i = index" [ngClass]="{ 'active':item.status} ">
                        <td scope="row"><input type="checkbox" name="" id="" [checked]="item.status" (change)="checkbox(i)"></td>
                        <td><input id="name" name="name" #name type="text" value="{{item.name}}"></td>
                        <td>{{i}}</td>
                        <td scope="row" class="cach">
                            <button (click)="deleteTodo(i)" class="btn-danger">Delete</button>
                            <button (click)="updateTodo(i, name.value)" class="btn-warning">Update</button>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>